/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #mediaContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .teamWrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #whatContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-timeline .timeline{ width: 100%; margin-left: 10px!important; }
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        margin: 0;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        width: 30px;
        height: 100%;
        left: 25px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon{
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        text-align: left;
        padding: 0 30px 0 100px;
    }
    .main-timeline .year:before,
    .main-timeline .timeline:nth-child(2n) .year:before{
        left: auto;
        right: 4px;
    }
    .main-timeline .year:after{
        left: auto;
        right: 50px;
        border-right: 10px solid #303a3b;
        border-left: none;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        text-align: left;
        padding: 18px 40px 18px 100px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline-content:after{
        width: 0;
        height: 0;
    }
    .main-timeline .timeline:first-child, .main-timeline .timeline:last-child:nth-child(even){
        margin-left: 10px!important;
    }
    #whatContainer div{
        padding-bottom: 50px;
    }
    .main-timeline .year:before, .main-timeline .timeline .year:before{
        display: none;
    }

    .verticalAlignMiddleMobileFix{
        top: 40%;
    }
    #timeline{
        padding: 70px 0 60px 30px;
    }
}

@media only screen and (max-width : 831px) {

    #footer{
        padding-bottom: 160px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .distributionContainer{
        grid-template-columns: 1fr;

    }

    #newCryptoSection .featuresContainer{
        grid-template-columns: 1fr;
    }

    #socialLinks{
        float: right;
    }

    #mediaContainer{
        margin-left: 10px;
        margin-right: 10px;
    }
    #mediaContainer img{
        height: 30px;
    }
    #whatContainer h4{
        margin-bottom: 0;
        font-size: 18px;
        line-height: 35px;
    }
    #networkSection h1{
        margin-top: 90px;
    }
    #p2p-network{
        padding-top: 20px;
    }

    h1{
        line-height: 42px;
        font-size: 26px;
    }
    h3{
        letter-spacing: 2px;
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
    .mainLogo {
        width: 40%;
    }
    .teamWrapper{
        grid-template-columns: 1fr 1fr;
    }
    #whatContainer{
        grid-template-columns: 1fr;
    }
    #aboutSection{
        padding: 1px 0 60px 0;
    }
    #aboutSection{
        padding: 100px 0;
    }
    #copyright{
        line-height: 5px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .secondCopyRight{
        font-size: 12px;
        line-height: 5px;
        margin-top: 10px;
        margin-left: 0;
        color: #e2e2e2;
        width: auto;
        display: block;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .textContainer{
        width: 100%;
        padding: 0 20px;
    }

    .checkItem{
        margin-left: 0;
    }
    #mediaContainer{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    #mediaContainer img {
        height: 25px;
    }
    .socialImage{
        padding: 13px 0px 14px 10px;
    }
    .main-timeline .timeline-content, .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 30px 20px 18px 80px;
    }
    .main-timeline .year, .main-timeline .timeline:nth-child(2n) .year {
         padding: 10px 0 0 60px;
    }
    #timeline {
        padding: 70px 0 60px 0;
    }
    .mainLogo {
        width: 50%;
    }
    .teamWrapper{
        grid-template-columns: 1fr;
    }
    .main-timeline .timeline:before{
        top:10%!important;
    }
    #copyright{
        font-size: 10px;
    }
    .secondCopyRight{
        font-size: 7px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}