@font-face {
  font-family: avenir;
  src: url(../fonts/avenir-light.woff);
}

* {
	margin: 0;
	padding: 0;
}

body{
  background: #000;
  color: #D5D5D5;
  font-family: avenir;
}

input:focus, textarea:focus{
  outline: none;
}

h1{
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: #ffc12c;
  line-height: 2.2em;
  font-size: 36px;
  word-wrap: break-word;
  transition: all .5s linear;
}

h2{
  color: #8e8e8e;
  letter-spacing: 5px;
  font-size: 22px;
  line-height: 60px;
  transition: all .5s linear;
}

h3{
  color: #8e8e8e;
  letter-spacing: 4px;
  font-size: 18px;
  margin-top: 30px;
  line-height: 50px;
  color: #fff;
  transition: all .5s linear;
}

h4{
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

h5{
  display: block;
  padding: 10px 0;
  font-size: 16px;
}

span{
  width: 80%;
  display: block;
  margin: 0 auto;
  width: 80%;
  display: block;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 1px;
  color: #989898;
}

a{
  cursor: pointer;
  color:#f6cd69;
  transition: all .5s linear;
  text-decoration: none;
}

a:hover{
  color: #fff;
  transition: all .5s linear;
}

#whatContainer{
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  text-align: center;
}

.twoColums{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#whatContainer img{
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.titleMarginBottom{
  margin-bottom: 30px!important;
}

.hide{
  display: none;
}

.fullHeight{
  height: 100%;
  width: 100%;
  padding-right: 17px;
  top: 0!important;
  transform: none!important;
<!--overflow-y: scroll;-->
}

.backgroundVideoWrap{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: -10;
}

#websiteBody{
  transition: all .5s linear;
}

.verticalAlignMiddle{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.verticalAlignMiddleMap{
    transform: translateY(-10%);
}

.alignCenter{
  margin: 0 auto;
  text-align: center;
}

.backgroundVideo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position:fixed;
}

#header{
  position: fixed;
  display: block;
  width: 100%;
  max-height: 100%;
  top:0;
  background-color: #1f1f1f;
  z-index: 1000;
}

#menu{
  /*float: right;*/
  /*padding: 28px 32px 21px 0;*/
}

#menu ul li{
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
  font-family: avenir;
  color: #D5D5D5;
  transition: all 0.6s ease;
}

#menu ul li:hover{
  color: #fcd26c;
  transition: all 0.6s ease;
}

#logo{
  width: 30px;
  transition: all .5s linear;
}

#aboutSection, #timelineSection{
  background-color: #1b1b1b;
}

#timelineSection{
  padding: 1px 0 0 0;
}

.fullSection{
  overflow: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.teamRole{
  color: #fcd26c;
  font-size: 12px;
  margin-top: 8px;
  letter-spacing: 2px;
}

.teamWrapper p{
  font-size: 14px;
  background-color: #020102ad;
  border-radius: 5px;
  padding: 20px 20px;
}

.teamWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 70px;
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;

}

.teamWrapper h4{
  line-height: 25px;
}

.marginTop{
  margin-top: 20px;
}

.bigMarginTop{
  margin-top: 50px;
  margin-bottom: 20px;
}

.teamWrapper .our-team .team-pic{
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 25px;
}


.teamWrapper .our-team .team-pic img{
  width: 150px;
  height: 150px;
}

/*.teamWrapper .our-team .team-pic img:hover{*/
  /*!*background: linear-gradient(rgba(32,32,32,1),rgba(32,32,32,1));*!*/
/*}*/

.teamWrapper .our-team .team-pic .over-layer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(35, 35, 35, 0.88);
  opacity:0;
  transition: all 0.30s ease 0s;
}

.teamWrapper .our-team:hover .over-layer{
  opacity:1;
}

.teamWrapper .our-team .social-link{
  margin:0;
  padding:0;
  position:relative;
  top:65%;
  left:0;
  list-style:none;
  transition:all 0.50s ease 0s;
}
.teamWrapper .our-team:hover .social-link{
  top:45%;
}
.teamWrapper .our-team .social-link li{
  display: inline-block;
  margin-right:5px;
  transition: all 0.40s linear 0s;
  transform: translateY(0px);
}
.teamWrapper .our-team .social-link li a{

  color:#fcd26c;
  background: #1b1b1b;
  font-size:22px;
  border-radius:50%;
  text-align: center;
  padding:7px;
  text-decoration: none;
}
.teamWrapper .our-team .social-link-4 li a {
  font-size: 18px;
}

.teamWrapper .our-team .social-link li a:hover{
  background: #4f4f4f;
  color: #fcd26c;
}

.teamWrapper .our-team .social-link li:hover{
  transform: translateY(-13px);
}
/*

.teamWrapper .our-team .social-link li a.fa-facebook:hover{
  color:#5d82d1;
}
.teamWrapper .our-team .social-link li a.fa-google:hover{
  color:#eb5e4c;
}
.teamWrapper .our-team .social-link li a.fa-twitter:hover{
  color:#40bff5;
}
*/

.mainLogo{
  width: 20%;
  max-width: 170px;
  height: auto;
  opacity: 0.8;
  border-radius: 110px;
  padding: 5px;
  -webkit-filter: drop-shadow(0px 2px 6px rgba(255, 255, 255, 0.84));
  filter: drop-shadow(0px 2px 6px rgba(255, 255, 255, 0.84));
}

#footer{
  background-color: #1f1f1f;
  width: 100%;
  height: 52px;
  display: block;
  position: relative;
  z-index: 500;
  border-top: solid 1px #444444;
}

#copyright{
  display: inline-block;
  font-size: 12px;
  line-height: 54px;
  margin-left: 20px;
  color: #e2e2e2;
  width: auto;
}

.secondCopyRight{
  font-size: 12px;
  line-height: 5px;
  margin-top: 10px;
  margin-left: 0;
  color: #e2e2e2;
  width: auto;
  display: inline-block;
}

#copyright a{
  color: #ffffff;
  text-decoration: none;
}

#socialLinks{
  display: inline-block;
  right: 0;
  position: relative;
  float: right;
  margin-right: 20px;
}

#socialLinks *{
  -webkit-box-sizing:initial;
}

.socialImage{
  width: 22px;
  padding: 13px 0px 14px 20px;
  cursor: pointer;
}

#teamSection{
  display: inline-block;
  overflow-x: hidden;
}

.yellowColor{
  color: #fcd26c;
}

.main-timeline{
  overflow: hidden;
  position: relative;
}
.main-timeline .timeline{
  width: 50%;
  float: left;
  z-index: 1;
  position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline:before{
  content: "";
  width: 40px;
  height: 105%;
  background: #727cb6;
  position: absolute;
  top: 10%;
  right: -20px;
}
.main-timeline .timeline:last-child:before{ height: 0; }
.main-timeline .timeline-icon{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #727cb6;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 3;
}
.main-timeline .timeline-icon:before{
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.main-timeline .timeline-icon i{
  font-size: 35px;
  color: #fff;
  line-height: 80px;
  z-index: 1;
  position: relative;
}
.main-timeline .year{
  display: block;
  padding: 0 60px 0 -20px;
  color: #ffc12c;
  text-align: right;
  border-bottom: 2px solid #545454;
  z-index: 2;
  position: relative;
  font-size: 20px;
}
.main-timeline .year:before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #727cb6;
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: -4px;
}
.main-timeline .year:after{
  content: "";
  border-left: 10px solid #9cc0e4;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 50px;
  display: none;
}
.main-timeline .timeline-content{
  padding: 18px 60px 18px 40px;
  text-align: right;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
  content: "";
  width: 80px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  <!--background: #201f20;-->
  position: absolute;
  top: 0;
  right: 15px;
  z-index: -1;
}
.main-timeline .timeline-content:after{
  left: auto;
  right: -95px;
}
.main-timeline .timeline:last-child .timeline-content:before,
.main-timeline .timeline:last-child .timeline-content:after{
  width: 0;
  height: 0;
}
.main-timeline .title{
  font-size: 22px;
  font-weight: bold;
  color: #727cb6;
  margin-top: 0;
}
.main-timeline .description{
  font-size: 15px;
  color: #b3b3b3;
  line-height: 25px;
}
.main-timeline .timeline:nth-child(2){ margin-top: 140px; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
.main-timeline .timeline:nth-child(odd){ margin: -110px 0 0 0; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){
  margin: 0 !important;
}
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{
  right: auto;
  left: -20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{ left: -40px }
.main-timeline .timeline:nth-child(2n) .year{
  padding: 0 30px 0 0;
  text-align: left;
}
.main-timeline .timeline:nth-child(2n) .year:before{
  left: auto;
  right: -3px;
}
.main-timeline .timeline:nth-child(2n) .year:after{
  border-left: none;
  border-right: 10px solid #303a3b;
  right: 50px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
  padding: 18px 40px 18px 60px;
  text-align: left;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{ left: -95px; }
.main-timeline .timeline:nth-child(2n) .timeline-content:after{ left: 15px; }
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{ background: #e77e21; }
.main-timeline .timeline:nth-child(2n) .timeline-icon:before{
  border-color: #e77e21;
}
.main-timeline .timeline:nth-child(2n) .year:before{
  background: #e77e21;
}
.main-timeline .timeline:nth-child(2n) .title{ color: #e77e21; }
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .timeline-icon{ background: #008b8b;  }
.main-timeline .timeline:nth-child(3n) .timeline-icon:before{
  border-color: #008b8b;
}
.main-timeline .timeline:nth-child(3n) .year:before{
  background: #008b8b;
}
.main-timeline .timeline:nth-child(3n) .title{ color: #008b8b; }
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .timeline-icon{
  background: #ed687c;
}
.main-timeline .timeline:nth-child(4n) .timeline-icon:before{
  border-color: #ed687c;
}
.main-timeline .timeline:nth-child(4n) .year:before{
  background: #ed687c;
}
.main-timeline .timeline:nth-child(4n) .title{ color: #ed687c; }

#whatContainer h4{
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  height: 55px;
}

#team h4{
  text-transform: uppercase;
  height: 30px;
}

#whatContainer p{
  color: #8e8e8e;
}

.topnav {
  overflow: hidden;
  background-color: #1b1b1b;
  border-bottom: solid 1px #212121;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 14px;
  transition: all .3s linear;
}

.topnav a:hover {
  background-color: #232323;
  color: #ffc12c;
  transition: all .3s linear;
}

.active {
  background-color: #1b1b1b;
  color: white;
}

.topnav .icon {
  display: none;
}

#logoMenu{
  padding: 10px 20px!important;
  float:left!important;
}

#logoMenu img{
  margin-top: 5px;
}

.showMenu{
  padding: 21px 26px!important;
}

#networkSection h1{
  margin-top: 20px;
}

.btnPosition{
  margin-top: 20px!important;
}

.btn-cont {
  text-align: center;
  margin-top: 10px;
}
.btn-cont .btn {
  position: relative;
  padding: 10px 30px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  font-size: 1.125em;
  font-family: 'lato', sans-serif;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
  animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
  animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
  animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
  animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: white;
  left: 0;
  top: -2px;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: white;
  right: 0;
  bottom: -3px;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

#p2p-network,#what-is-WebDollar,#team,#timelineSection{
    padding-top: 60px;
}

#mainSection{
  margin-top: 60px;
}

#p2p-network h3,#timelineSection h3{
  color: #f9dd9a;
  text-align: center;
  letter-spacing: 3px;
  line-height: 0;
  margin-bottom: 40px;
  line-height: 24px;
}

#timeline{
  margin-top: 70px;
  border-top: solid 1px #2b2b2b;
  background-color: #1f1f1f;
  padding: 70px 0 60px 0;
}