@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lbcj5w');
  src:  url('fonts/icomoon.eot?lbcj5w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lbcj5w') format('truetype'),
    url('fonts/icomoon.woff?lbcj5w') format('woff'),
    url('fonts/icomoon.svg?lbcj5w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-rocket:before {
  content: "\e901";
}
.fa-youtube-square:before {
  content: "\e908";
}
.fa-youtube2:before {
  content: "\e909";
}
.fa-reddit-alien:before {
  content: "\e902";
}
.fa-flask:before {
  content: "\e903";
}
.fa-chevron-down:before {
  content: "\e904";
}
.fa-chevron-up:before {
  content: "\e905";
}
.fa-chevron-down2:before {
  content: "\e906";
}
.fa-home:before {
  content: "\e900";
}
.fa-pencil:before {
  content: "\e907";
}
.fa-file-empty:before {
  content: "\e924";
}
.fa-file-text2:before {
  content: "\e926";
}
.fa-folder-download:before {
  content: "\e933";
}
.fa-hammer:before {
  content: "\e996";
}
.fa-trophy:before {
  content: "\e99e";
}
.fa-gift:before {
  content: "\e99f";
}
.fa-download3:before {
  content: "\e9c7";
}
.fa-upload3:before {
  content: "\e9c8";
}
.fa-earth:before {
  content: "\e9ca";
}
.fa-arrow-up:before {
  content: "\ea32";
}
.fa-arrow-down:before {
  content: "\ea36";
}
.fa-facebook:before {
content: "\ea90";
}
.fa-medium:before {
  content: "\e911";
}
.fa-facebook2:before {
  content: "\ea91";
}
.fa-instagram:before {
  content: "\ea92";
}
.fa-telegram:before {
  content: "\ea95";
}
.fa-twitter:before {
  content: "\ea96";
}
.fa-youtube:before {
  content: "\ea9d";
}
.fa-github:before {
  content: "\eab0";
}
.fa-reddit:before {
  content: "\eac6";
}
.fa-wikipedia:before {
  content: "\eac8";
}
.fa-linkedin2:before {
  content: "\eaca";
}
